# HPack artifact
novelist.cabal

# HLint artifact
report.html

## Build and test artifacts

.stack-work/
*.tix
.hpc/
hpc_report/
tags
*.prof
*.hp
*.eventlog
bench.html
core-html/

## Temp files

*.DS_Store
*~
.Trash-*

