# HPack artifact
novelist.cabal

# HLint artifact
report.html

# Test results
results.xml

## Build and test artifacts

.stack-work/
*.tix
.hpc/
hpc_report/
tags
*.prof
*.hp
*.eventlog
bench.html
core-html*

## Local config files

.vscode

## Temp files

*.DS_Store
*~
.Trash-*

